@model EmployeeManagement.Models.Company

<b><h4 style="text-align:center;text-decoration:underline">Company Details</h4></b>

@if (TempData["InsertCompany"] != null)
{
    <div class="alert alert-info" id="insertcompany">
        @TempData["InsertCompany"]
    </div>
}
@if (TempData["InsertCompanyExists"] != null)
{
    <div class="alert alert-info" id="insertcompanyexists">
        @TempData["InsertCompanyExists"]
    </div>
}

<script>
    function timeOutFunction(id) {
        setTimeout(function () {
            var message = document.getElementById(id);
            if (message) {
                message.style.display = 'none';
            }
        }, 5000);
    }
    timeOutFunction("insertcompany");
    timeOutFunction("insertcompanyexists")
</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Company" asp-controller="Company">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Company_Name" class="form-label">Company Name</label>
                <input asp-for="Company_Name" class="form-control" />
                <span asp-validation-for="Company_Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Contact_person" class="form-label">Contact Person</label>
                <input asp-for="Contact_person" class="form-control" />
                <span asp-validation-for="Contact_person" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Country" class="form-label">Country</label><br />
                <select asp-for="Country" asp-items="@ViewBag.countryList" class="form-select">
                    <option disabled selected>Select a Country</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">AddCompany</button>
        </form>
    </div>
</div>
